<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://use.fontawesome.com/4cfb4dfef7.js"></script>
    <script
            src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>-->
    <script src="./js/cards.js"></script>
    <script src="./js/viewport.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-24704798-11', 'auto');
        ga('create', 'UA-71696131-1', 'auto', 'appsTracker');
        ga('send', 'pageview');
        ga('appsTracker.send', 'pageview');

    </script>
    <script>
        function openNav() {
            document.getElementById("nav-scr").style.width = "100%";
        }

        function closeNav() {
            document.getElementById("nav-scr").style.width = "0%";
        }
    </script>
    <title>Urgent for Care - KBIA</title>
</head>
<body>
<header aria-hidden="true" class="kbia-top">
    <a aria-hidden="true" href="http://www.kbia.org"><img class="logo" src="https://s3.amazonaws.com/media.kbia.org/logos/kbia-blue.png" alt="KBIA Logo"></a>
    <a aria-hidden="true" onclick="openNav()" class="btn btn-inverse btn-outline-primary float-right nav-trigger-button"><i class="fa fa-bars" aria-hidden="true"></i><span class="hidden-sm-down"> MENU</span></a>
</header>
<div class="generic-containing">
    <div class="home-cards-contain">
        <div class="home-card home-card-front">
            <div class="home-container">
                <h1>Urgent for Care</h1>
                <h1 class="sub">Can Missouri's Poorest County Keep its Hospital Alive?</h1>
                <h2 class="proj">A KBIA Special Project</h2>
                <h2 class="author">By Bram Sable-Smith</h2>
            </div>
            <a href="http://www.kbia.org" class="logo-link">
                <img class="logo-right" src="./img/KBIA_main_reverse.png">
            </a>
            <a href="http://www.sideeffectspublicmedia.org" class="logo-link">
                <img class="logo-left" src="./img/se-white.png">
            </a>
        </div>
    </div>
    <article id="intro">
        <p>The lone public hospital in Pemiscot County, Missouri nearly closed in 2013. An emergency loan, service cuts and some ingenuity kept it running for the time being. But it will take a herculean effort on the local, state and federal levels for this 18,000 person county to keep its access to health care close to home.</p>
    </article>
    <article>
        <div class="article-head" id="head-paper">
            <h1>Already on the Brink</h1>
            <p class="subtitle">Because of who they serve, rural hospitals remain particularly vulnerable to government funding changes.</p>
        </div>
        <p>For the hundreds of rural hospitals struggling to stay in business, health policy decisions made in Washington D.C. this summer could make survival a lot tougher.</p>
        <p>Since 2010, at least <a href="http://www.shepscenter.unc.edu/programs-projects/rural-health/rural-hospital-closures/">79 rural hospitals</a> have closed across the country, and nearly <a href="https://www.ruralhealthweb.org/NRHA/media/Emerge_NRHA/PDFs/02-02-16PI16NRHAreleaseoniVantagestudy.pdf">700 more</a> are at risk of closing. These hospitals serve a largely older, poorer and sicker population than most, making them particularly vulnerable to changes made to Medicaid funding.</p>
        <p>“A lot of hospitals like ourselves that see a lot of the Medicaid population could get hurt,” says Kerry Noble, CEO of Pemiscot Memorial Health Systems, the public hospital in the poorest county in Missouri.</p>
        <p>The GOP’s American Health Care Act would cut Medicaid — the public insurance program for low-income children, elderly and disabled Americans —&nbsp; by $834 billion, which would result in 14 million more Americans being uninsured in the next 10 years. Even more could lose coverage under the budget proposed by President Donald Trump, which proposes an additional $610 billion in cuts to the program.</p>
        <p>That’s a problem for small rural hospitals like Pemiscot Memorial, which are disproportionately dependent on Medicaid. The hospital serves an agricultural county that ranks worst in Missouri for <a href="http://www.countyhealthrankings.org/app/missouri/2017/rankings/pemiscot/county/outcomes/overall/snapshot">most health indicators </a>including premature deaths, quality of life and even adult smoking rates. Closing the county’s hospital could make those much worse.</p><p>But a rural hospital closure affects more than just healthcare. Jobs, property values, even schools can suffer. Pemiscot County already has the state’s <a href="http://www.countyhealthrankings.org/app/missouri/2017/measure/factors/23/data?sort=desc-4">highest</a> unemployment rate. Losing the hospital would mean losing the county’s largest employer.</p><p>“It would be devastating economically,” Noble says “Our annual payrolls are around $20 million a year.”</p>
        <p>All of that weighs on Noble’s mind when he ponders the hospital’s future. Pemiscot Memorial&nbsp;has already struggled with its dependence on Medicaid for more than a decade. Its story is a lesson in how decisions made by state and federal lawmakers have put these small hospital’s on the edge of collapse.</p>
        <h2>Blueprints From a Happier Time</h2>
        <img class="img-side img-side-right" src="./img/noble.jpg" alt="Kerry Noble">
        <p>Back in 2005, things were very different in Pemiscot County. The hospital was doing well, and Noble commissioned a three-phase, $16 million plan to completely replace their outdated facilities, which were built back in 1951.</p>
        <p>“We were going to pay for the first phase of that in cash. We didn’t even need to borrow any money for it,” Noble says while thumbing through the old blueprints in his office at the hospital.</p>
        <p>Those renovations never happened. In 2005 the Missouri legislature passed <a href="http://content.healthaffairs.org/content/28/2/w335.full">sweeping cuts</a> to its Medicaid program. More than 100,000 Missourians lost their health coverage and this had an immediate impact on Pemiscot Memorial’s bottom line. About 40 percent of their patients were enrolled in Medicaid at the time, and nearly half of them lost their insurance in the cuts.</p>
        <aside class="pquote">
            The Missouri legislature passed sweeping cuts to its Medicaid program - more than 100,000 Missourians lost their health coverage. This had an immediate impact on Pemiscot Memorial’s bottom line.</aside>
        <p>Those now-uninsured patients still needed care, though, and as a public hospital, Pemiscot Memorial couldn't just turn them away.</p><p>“So we’re still providing care, but we’re no longer being compensated,” Noble says.</p><p>And as their uncompensated care went up, the hospital’s already-slim margins went down. In 2007, the first full year of the Medicaid cutbacks, the hospital’s net income dropped by $2 million from the year before. Then for the next six years the hospital netted a profit only twice, both times well under $1 million.</p>
        <p>Forget renovations, the hospital went into survival mode.</p>
        <h2>A Lost Lifeline</h2>
        <p>The Affordable Care Act was supposed to help with the problem of uncompensated care. It offered rural hospitals a potential lifeline by giving states the option to expand Medicaid to a larger segment of their populations. In Missouri that would have covered about 300,000 people.</p>
        <p>“It was the fundamental building block [of the ACA] that was supposed to cover low-income Americans,” says St. Louis University health law professor Sidney Watson.</p><p>In Missouri Kerry Noble and&nbsp;Pemiscot&nbsp;Memorial became the poster children for Medicaid expansion. In 2013 Noble went to the state capital to&nbsp;<a href="http://news.stlpublicradio.org/post/mo-house-democrats-file-medicaid-expansion-bill">make the case</a>&nbsp;for expansion on behalf of the hospital.</p>
        <p>“Our facility will no longer be in existence if this expansion does not occur,” Noble told a crowd at a press conference.</p><p>But the Missouri legislature voted against expansion. This was not good news for&nbsp;Pemiscot&nbsp;Memorial or the other rural hospitals in the state.</p>
        <p>“Medicaid cuts are always hard to rural hospitals,” Watson says. “People have less employer-sponsored coverage in rural areas and people are relying more on Medicaid and on Medicare.”</p><p>Against all odds, though, Pemiscot County hospital is still in existence. At least for now.</p><p>To survive, the hospital had to cut some costly programs like obstetrics, outsourced others like their ambulance service and did without needed upgrades to their equipment. They also cobbled together some small grants, and in 2015 they did net a profit: $52,503.</p><p>“People might look at us and say, ‘See, you didn’t need Medicaid expansion. You’re still there,” Noble says. “But how long are we going to be here if we don’t get some relief?”</p>
        <h2>Future Threats: Funding Caps</h2>
        <p>Since it didn’t expand Medicaid, Missouri has less on the line with the proposed Medicaid funding rollbacks. But the GOP plan would still have serious repercussions.</p>
        <p>It would switch Medicaid to a capped funding structure. Right now for every dollar spent through Medicaid, the federal government will match up everything the state spends. And it’s an entitlement program so as long as there is a need, that money will get spent even when the costs increase.</p>
        <p>Under the GOP health plan, the federal government would cap the amount it contributes to the states for its portion of Medicaid. And while that amount would increase by 3.7 percent per Medicaid enrollee per year, the Congressional Budget Office <a href="https://www.cbo.gov/system/files/115th-congress-2017-2018/costestimate/americanhealthcareact.pdf">estimates</a> the cost per enrollee would increase by 4.4 percent per year.</p>
        <aside class="pquote">
            “I don’t know of any organization that can give away 20 percent of what they do and still be in business."
        </aside>
        <p>States would need to decide to make up that difference with their own money, or cut services. In Missouri certain Medicaid programs are already on the <a href="http://kbia.org/post/can-states-block-grant-medicaid-if-congress-doesnt-its-complicated#stream/0">chopping block</a>&nbsp;amid a budget crunch. Reducing the federal funding for the program risks causing more Missourians to lose insurance coverage.</p>
        <p>In Pemiscot County, Kerry Noble says the uncompensated care to uninsured county residents already makes up 20 percent of his hospital’s business. “I don’t know of any organization that can give away 20 percent of what they do and still be in business,” he says.</p>
        <p>Like most rural hospitals, the margins are slim in Pemiscot County. Even a small change — much less a big one like slashing Medicaid — could close the hospital for good.</p>
        <p><em>Bram Sable-Smith is reporting this series during a yearlong Reporting Fellowship on Health Care Performance sponsored by the Association of Health Care Journalists and supported by The Commonwealth Fund.</em></p>
    </article>
</div>

<div id="nav-scr" class="overlay">

    <!-- Button to close the overlay navigation -->
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <!-- Overlay content -->
    <div class="overlay-content">
        <a href="http://www.kbia.org">Return to KBIA</a>
    </div>

</div>

<script>

</script>
</body>
</html>